@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("img/background.jpg"); 
    background-position: right top ;
    background-size:cover;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}

h2
{
    font-family: 'Work Sans', sans-serif;    
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    color:#fff;
}

.clock
{
    display: flex;
    position: relative;
    margin: 0 10px;
}

.clock div
{
    margin: 0 5px;
}

.clock span
{
    width: 100px;
    height: 80px;
    font-weight: 200;
    background: rgb(148, 179, 199);
    opacity: 0.8;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text
{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(9, 64, 136);
}

.clock #ampm
{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #f5ab57
}

@media(max-width: 500px) /*   Dispositivos Móveis */
{
    
    .clock
    {
        margin: 0 2.5px;
    }


    .clock div
    {
        margin: 0 2.5px;
    }
    
    .clock #ampm{
        position: absolute;
        bottom: -35px;
        right: 42%;
    }
}